.image-wrapper > .content {
  background: rgba(17, 19, 25, 0.7);
}
.image-wrapper > .content > .content-items > .title-bar {
  transition: 500ms ease-in;
  width: 0;
}
.image-wrapper > .content > .content-items {
  transform: translateY(5%);
  transition: 200ms ease-in-out;
}
.image-wrapper:hover > .content > .content-items {
  transform: translateY(100%);
}

.image-wrapper:hover > .content > .content-items > .title-bar {
  width: 50%;
}

.image-wrapper > img,
.image-wrapper > .content {
  transition: 200ms ease-in-out;
}
.image-wrapper:hover > img.blurred {
  filter: blur(3px);
}
.image-wrapper:hover > img.gray {
  filter: grayscale(1);
}
.image-wrapper:hover > img.zoom {
  transform: scale(1.1);
}
.image-wrapper > .content.fade {
  opacity: 1;
}
.image-wrapper:hover > .content.fade {
  opacity: 1;
}
.image-wrapper > .content.slide-up {
  transform: translateY(84%);
}
.image-wrapper:hover > .content.slide-up {
  transform: translateY(0);
}
