.nav-text {
  max-width: 0;
  padding: 0;
  transition: all 0.25s ease-in-out;
}

.nav-item {
  transition: background-color 0.5s ease-in-out;
}
.nav-item:hover {
  background-color: #2196f3;
}

.nav-item:hover .nav-text {
  max-width: 200px;
  padding: 0 8px;
}

.menu-bar {
  transition: 200ms ease-in-out;
}
